<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1"
        style="border-bottom: 1px solid rgba(255, 255, 255, 0);">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.2"
                ng-click="app.go('app.menu')" style="color: rgb(255, 255, 255);"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">VCS Mobile - Dashboard</ion-nav-title>
        <ion-nav-buttons side="right">
            <span class="badge" data-comp-id="text.1"
                style="color: rgb(255, 255, 255); font-weight: 300; font-size: 12px; margin: 0px 0px 0px -5px;">0</span>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <div class=" light-bg btmshadow" data-comp-id="div.1"
            style="margin: 0px; border-bottom: 1px solid rgb(238, 238, 238);"></div>
        <div class=" light-bg" data-comp-id="div.2"
            style="margin: 0px; border-top: 1px solid rgb(238, 238, 238); border-bottom: 1px solid rgb(238, 238, 238);">
            <div class="row" data-comp-id="row.1">
                <div class="col" data-comp-id="column.1"
                    style="border-bottom: 1px solid rgb(238, 238, 238); padding: 15px 15px 15px 10px;">
                    <div data-comp-id="text.2"
                        ng-bind="&quot;Planned POs Count: &quot; + data.PlannedPOsCount"
                        style="font-size: 18px; color: rgb(51, 51, 51); font-weight: bold;">Title-1</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.2" style="margin: 5px 0px 0px;">
                <div class="col" data-comp-id="column.2" style="padding: 5px 5px 5px 10px;">
                    <div class=" dark" data-comp-id="text.3"
                        ng-bind="&quot;Completed POs Count: &quot; + data.CompletedPOsCount"
                        style="font-size: 18px; font-weight: bold;"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>